[Unit]
Description=ARISS Video Display
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ariss-video -h hamtv.batc.tv
Restart=on-abort
RestartSec=1

[Install]
WantedBy=multi-user.target
